@import "src/components/common/styles/base/variables";
@import "src/components/common/styles/base/mixins";

.form {
  max-width: 300px;
  margin: 0 auto;

  & div {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 32px;
    }
  }

  & button {
    width: 100%;
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  max-width: 340px;
  min-height: 120px;

  @media screen and (max-width: $screen-xs) {
    min-width: 280px;
  }

  & span {
    text-transform: uppercase;
  }
}
